
/* Your CSS Code here. */
body{
            background-color: #f5f5f5;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .header {
            background-color: #011e29;
            color: white;
            text-align: center;
            padding: 20px;
        }
        
        
        .holder {
            display: grid;
            grid-template-rows: 100px 100px;
            grid-template-columns: 100px 100px;
            width: 200px;
            height: 200px;
            gap: 5px;
            background-color: #ddd;
            margin: auto;
        }